<%= form_for [@restaurant, @reservation] do |f| %>

	<% if @reservation.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>

			<ul>
			<% for message in @reservation.errors.full_messages %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

<div class="field">
	<%= f.label :time %>
	<%= f.datetime_select(:time, start_year: Time.now.year, prompt: false, minute_step: 60 ) %>
</div>
<div class="field">
	<%= f.label :party_size %>
	<%= f.number_field :party_size %>
</div>
<%= f.submit %>

<%end%>