<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
	<div>
		<p> Name: <%= link_to restaurant.name, restaurant_path(restaurant) %> </p>
		<p> Description: <%= restaurant.description %> </p>
		<p> Address: <%= restaurant.address %> </p>
		<p> Capacity: <%= restaurant.capacity %> </p>
		<p> Hours: <%= prettytime(restaurant.hours_open) %> to <%= prettytime(restaurant.hours_closed) %> </p>
	</div>
<% end %>


