<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
	<div>
		<p> Name: <%= link_to restaurant.name, restaurant_path(restaurant) %> </p>
		<p> Description: <%= restaurant.description %> </p>
		<p> Address: <%= restaurant.address %> </p>
		<p> Hours: <%= restaurant.hours_open %> to <%= restaurant.hours_closed %> </p>
	</div>
<% end %>


