<h1><%= @restaurant.name %></h1>

<div>
	<p> Description: <%= @restaurant.description %> </p>
	<p> Address: <%= @restaurant.address %> </p>
	<p> Hours: <%= prettytime(@restaurant.hours_open) %> to <%= prettytime(@restaurant.hours_closed) %> </p>
</div>