<h1><%= @restaurant.name %></h1>

<div class="restaurant-info">
	<p> Description: <%= @restaurant.description %> </p>
	<p> Address: <%= @restaurant.address %> </p>
	<p> Hours: <%= prettytime(@restaurant.hours_open) %> to <%= prettytime(@restaurant.hours_closed) %> </p>
</div>

<div class="reservation-form">
	<%= render 'reservations/form' %>
</div>