<h1><%= @restaurant.name %></h1>

<div class="restaurant-info">
	<p> Description: <%= @restaurant.description %> </p>
	<p> Address: <%= @restaurant.address %> </p>
	<p> Capacity: <%= @restaurant.capacity %> </p>
	<p> Hours: <%= prettytime(@restaurant.hours_open) %> to <%= prettytime(@restaurant.hours_closed) %> </p>
</div>


<%= button_to "Edit", edit_restaurant_path, class: :button, method: :get %>

<div class="reservation-form">
	<% if current_user %>
	<h4>Create a Reservation</h4>
		<%= render 'reservations/form' %>
	<% else %>
	<h4>Log in to make a reservation</h4>
		<%= button_to 'Log In', login_path, class: :button, method: :get %>
	<% end %>
</div>
