<!DOCTYPE html>
<html>
<head>
  <title>Opentable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="cf">

		<h1><img src="/assets/seat.svg">Seat Yourself</h1>
		<nav>
			<ul>
				<li><%= link_to 'Restaurants List', restaurants_path %></li>
				<li><%= link_to 'Add Restaurant', new_restaurant_path %></li>

			<ul>
		</nav>
	</header>

	<div class="wrapper cf">
	
		<% if flash[:notice] %>
		  <p id="notice"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
		  <p id="alert"><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
